{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block style %}
{% endblock %}

{% block nav %}
<!-- Home Page -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'companyHome' %}'">Home</button>
<!-- add a logout button -->
<form action={% url 'logout' %}>
	<button type="submit">Logout</button>
</form>
<!-- List Properties -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'propertyList' %}'">Property List</button>
<!-- add prop btn -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'addProperty' %}'">Add New Property</button>
{% endblock %}

{% block body %}
<!-- Survey Form -->
<div id="survey-form">
    <h2>Property Information Survey</h2>
    <form method="post" action={% url 'addProperty' %}>
        {% csrf_token %}
        
        <!-- Zip Code -->
        <label for="zip_code">Zip Code:</label>
        <input type="text" id="zip_code" name="zip_code" required>
        <br>
        
        <!-- State -->
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>
        <br>
        
        <!-- Address -->
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required>
        <br>
        
        <!-- Price -->
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
        <br>
        
        <!-- Description -->
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50"></textarea>
        <br>

        {% for employee in allEmployees %}
            <input class="radio-btn" type="radio" name="agent" value={{ employee.pk }}>
            <label class="radio-labels" for={{ employee.name }}>{{ employee.name }}</label>
        {% endfor %}
        
        <button type="submit">Submit Form</button>
    </form>
</div>
{% endblock %}