{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block body %}
    <div>
        <h2>Agent Home Page</h2>
        <p>Agents allow customers to book appointments at properties</p>

    </div>
    <div id="info-block">
        <h2>agent Home Page</h2>
        <h3>
            agent Information
        </h3>
        <p>
            Name: {{ userAgent.name }}
        <p>
            Phone: {{ userAgent.phone}}
        </p>
        
    </div>
{% endblock %}