{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block style %}
{% endblock %}

{% block nav %}
<!-- Home Page -->
<!-- add a logout button -->
<form action={% url 'logout' %}>
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endblock %}

{% block body %}
    <div id="info-block">
        <h2>Agent Home Page</h2>
        <h3>Agent Information</h3>
        <p>Name: {{ userAgent.name }}</p>
        <p>Phone: {{ userAgent.phone}}</p>
    </div>
{% endblock %}