{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block style %}
.display-block {
    border: solid gray 2px;
	border-radius: 15px;
    padding: 15px;
}
{% endblock %}

{% block nav %}
<!-- Home Page -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'agentHome' %}'">Home</button>
<!-- add a logout button -->
<form action={% url 'logout' %}>
    <button type="submit">Logout</button>
</form>
{% endblock %}

{% block body %}
    <div id="info-block">
        <h2>Agent Home Page</h2>
        <h3>Agent Information</h3>
        <p>Name: {{ userAgent.name }}</p>
        <p>Phone: {{ userAgent.phone}}</p>
    </div>
    <div>
        <h2>All Bookings</h2>
        {% for booking in allBookings %}
            <div class="display-block">
                <p>Customer: {{ booking.customerID.name }} | Date: {{ booking.date }}</p>
            
                <p>Price: {{ booking.propertyID.price }}</p>
                <p>Location: {{ booking.propertyID.address }}, {{ booking.propertyID.state }}, {{ booking.propertyID.zip }}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>All Assigned Properties</h2>
        {% for property in allProperties %}
            <div class="display-block">
                <p>Price: {{ property.price }}</p>
                <p>Location: {{ property.address }}, {{ property.state }}, {{ property.zip }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}