
{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block style %}
.employee-info-block {
	border: solid gray 2px;
	border-radius: 15px;
    padding: 15px;
}
{% endblock %}

{% block nav %}
<!-- Home Page -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'companyHome' %}'">Home</button>
<!-- add a logout button -->
<form action={% url 'logout' %}>
	<button type="submit">Logout</button>
</form>
<!-- List Properties -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'propertyList' %}'">Property List</button>
<!-- Add Properties -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'addProperty' %}'">Create New Property</button>
{% endblock %}

{% block body %}
<div id="info-block">
	<h2>Company Home Page</h2>
	<h3>Company Information</h3>
	<p> Company's Name: {{ userCompany.name }}</p>
</div>

{% for employee in allEmployees %}
	<!-- make this look like a block of information -->
	<div class="employee-info-block">
		<p>Name: {{ employee.name }}</p>
		<p>Phone: {{ employee.phone }}</p>
		<!--delete the agent's acccount-->
		<form method="post" action={% url "companyHome" %}>
			{% csrf_token %}
			<input type="hidden" name="employeePK" value={{ employee.pk }}>
			<button type="submit">Fire</button>
		</form>
	</div>
{% endfor %}
{% endblock %} 