
{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}
div class="topnav">
		<a href="file:///D:\Portfolio\website\index.html">
			Home
		</a>
		<a href="file:///D:\Portfolio\website\resume.html">
			Resume
		</a>
		<a href="file:///D:\Portfolio\website\project_1.html">
			Project 1
		</a>
		<a href="file:///D:\Portfolio\website\project_2.html">
			Project 2
		</a>
</div>
{% block body %}
    <div>
        <h2>Company Home Page</h2>
    </div>
{% endblock %}