
{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block style %}
{% endblock %}

{% block nav %}
<!-- Home Page -->
<!-- add a logout button -->
<form action={% url 'logout' %}>
	{% csrf_token %}
	<button type="submit">Logout</button>
</form>
{% endblock %}

{% block body %}
<div id="info-block">
	<h2>Company Home Page</h2>
	<h3>Company Information</h3>
	<p> Company's Name: {{ userCompany.name }}</p>
	
</div>

{% for employee in allEmployees %}
	<!-- make this look like a block of information -->
	<div class="emplyee-info-block">
		<p>Name: {{ employee.name }}</p>
		<p>Phone: {{ employee.phone }}</p>
		<!--delete the agent's acccount-->
		<button>Fire</button>
	</div>
{% endfor %}
{% endblock %}