{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block style %}
.display-block {
    border: solid gray 2px;
	border-radius: 15px;
    padding: 15px;
}
{% endblock %}

{% block nav %}
<!-- Home Page -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'customerHome' %}'">Home</button>
<!-- Logout Form -->
<form action={% url 'logout' %}>
	<button type="submit">Logout</button>
</form>
<!-- Browse Properties -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'propertyList' %}'">Property List</button>
{% endblock %}

{% block body %}
<div>
	<h2>Customer Home Page</h2>
	<sec>
		<h3>Customer Information</h3>
		<p>Name: {{ userCustomer.name }}</p>
		<p>Phone: {{ userCustomer.phone}}</p>
    </sec>
	<h2>All Booked Visits</h2>
	{% for property in allProperties %}
		<div class="display-block">
			<p>Price: {{ property.price }}</p>
			<p>Location: {{ property.address }}, {{ property.state }}, {{ property.zip }}</p>
		</div>
	{% endfor %}
</div>
{% endblock %}


