{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="style.css">
<meta charset ="utf-8">
<html lang="en">
    <head>
        <title>Reat Estate</title>
        {% block style %}
        {% endblock %}
        {% block static %}
        {% endblock %}
    </head>
    <body style="background-color: rgb(81, 31, 112)">
        <div id="nav-bar">
            <div style="margin-left: 20px; margin-right: 10px; color: white;">
                CS 425 Project
            </div>
            <div class="topnav">
	        	<a href="file:///C:/Users/jamal/Downloads/tcproject/tcproject.html">
					Home
		        </a>
		        <a href="file:///C:/Users/jamal/Downloads/tcproject/PlaceHolder.html">
					Projects
		        </a>
		        <a href="file:///C:/Users/jamal/Downloads/tcproject/realres.html">
					Skills
		        </a>
				<a href="file:///C:/Users/jamal/Downloads/tcproject/data.html">
					Education
				</a>
	</div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>