{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
<script src="{% static 'real_estate/loginEvents.js' %}"></script>
{% endblock %}

{% block style %}
#login-body {
    display: flex;
}

#login-left {
    width: 50%;
}

#login-description {
    height: 600px;
    border: gray solid 2px;
    margin: 20px 10px 20px 20px;
    padding: 20px;
    border-radius: 20px;
}

#login-right {
    width: 50%;
}

#login-container {
    height: 600px;
    border: gray solid 2px;
    margin: 20px 20px 20px 10px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

#login-content {
}

.input-container {
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
}

.input-box {
    width: 100%;
    font-size: 22px;
    padding: 5px;
    border: gray solid 2px;
    border-radius: 10px;
}

#login-btn {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border: black solid 2px;
    border-radius: 10px;
}

#register-text {
    font-size: 22px; 
    position: absolute;
    bottom: 50px;
    margin-left: 10px;
}
{% endblock %}

{% block nav %}
    <button class="nav-btn" style="padding: 15px 30px; margin-right: 10px;" onclick="window.location='{% url 'login' usertype='company' %}'">Company</button>
    <button class="nav-btn" style="padding: 15px 30px; margin-right: 10px;" onclick="window.location='{% url 'login' usertype='agent' %}'">Agent</button>
    <button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'login' usertype='customer' %}'">Customer</button>
{% endblock %}

{% block body %}
<div id="login-body">
    <div id="login-left">
        <div id="login-description">
            {% if message %}
                {{ message }}
            {% endif %}
        </div>
    </div>
    <div id="login-right">
        <div id="login-container">
            <text style="font-size: 35px; margin-left: 10px;">
                Welcome, logging in as {{ user_type }}!
            </text>
            <form id="login-content" action={% url 'login' usertype=user_type %} method="post">
                {% csrf_token %}
                <div class="input-container">
                    <input class="input-box" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="input-container">
                    <input class="input-box" type="text" name="password" placeholder="Password">
                </div>
                <input id="login-btn" type="submit" value="Login">
            </form>
            <text id="register-text">
                Don't have an account?
                <form action={% url 'register' %} method="post">
                    {% csrf_token %}
                    <input type="hidden" name="usertype" value={{ user_type }}>
                    <input type="hidden" name="operation" value="getRegPage">
                    <input type="submit" value="Register">
                </form>
            </text>
        </div>
    </div>
</div>
{% endblock %}