{% extends "real_estate/default.html" %}
{% load static %}

{% block static %}
{% endblock %}

{% block style %}
.input-container {
    width: 35%;
    padding-top: 10px;
    padding-left: 10px;
}

.input-box {
    width: 100%;
    font-size: 22px;
    padding: 5px;
    border: gray solid 2px;
    border-radius: 10px;
}

#register-btn {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border: black solid 2px;
    border-radius: 10px;
}

radio-labels {
    font-size: 20px;
}
{% endblock %}

{% block body %}
<text style="font-size: 35px; margin-left: 10px;">
    Registering as {{ user_type }}!
</text>
<form id="register-content" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="usertype" value={{ user_type }}>
    <input type="hidden" name="operation" value="registering">
    <div class="input-container">
        <input class="input-box" autofocus type="text" name="username" placeholder="Username">
    </div>
    <div class="input-container">
        <input class="input-box" type="text" name="password" placeholder="Password">
    </div>
    <div class="input-container">
        <input class="input-box" type="text" name="name" placeholder="Name">
    </div>

    {% if user_type != "company" %}
        <div class="input-container">
            <input class="input-box" type="text" name="phone" placeholder="Phone">
        </div>
    {% endif %}

    {% if user_type == "agent" %}
        {% for company in allCompanies %}
            <input class="radio-btn" id={{ company.name }} type="radio" name="company" value={{ company.pk }}>
            <label id="radio-labels" for={{ company.name }}>{{ company.name }}</label>
        {% endfor %}
    {% endif %}

    <input id="register-btn" type="submit" value="Register">
    {% if message %}
        <text style="font-size: 22px;">{{ message }}</text>
    {% endif %}
</form>
{% endblock %}