{% extends "real_estate/default.html" %}

{% block style %}
.review-display {
    border: solid gray 2px;
    border-radius: 15px;
    padding: 15px;
}
{% endblock %}

{% block nav %}
<!-- Home Page -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'companyHome' %}'">Home</button>
<!-- add a logout button -->
<form action={% url 'logout' %}>
	<button type="submit">Logout</button>
</form>
<!-- List Properties -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'propertyList' %}'">Property List</button>
<!-- Add Properties -->
<button class="nav-btn" style="padding: 15px 30px;" onclick="window.location='{% url 'addProperty' %}'">Create New Property</button>
{% endblock %}

{% block body %}
<h>All Reviews for this Property</h>

<div class="property-display">
    <p>Price: {{ property.price }}</p>
    <p>Location: {{ property.address }}, {{ property.state }}, {{ property.zip }}</p>
    <p>Agent: {{ property.agentID.name }}</p>
    <p>Property Description:</p>
    <p>{{ property.description }}</p>
</div>

{% for review in allReviews %}
    <div class="review-display">
        <p>{{ review.author.name }} | {{ review.date }}</p>
        <p>{{ review.comment }}</p>
    </div>
{% endfor %}
{% endblock %}
